.homeContainer {
  display: flex;
}
.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}
.container section .JuriContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.switch {
  right: 20px;
  bottom: 0px;
  position: absolute;
}

@media (max-width: 1200px) {
  .homeContainer {
    flex-direction: column;
  }
  .container {
    height: 130px;
  }
  .container section {
    display: flex;
    flex-direction: column;
    gap: 6.25rem;
    align-content: center;
    margin-top: 40px;
  }
}
