.Container {
  height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
  padding: 2.5rem 2rem;
  display: flex;
  flex-direction: column;
  background: var(--blue);
}

.Container section {
  height: 100vh;
  color: white;
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}
.logoContainer {
  position: relative;
  height: 70vh;
}
.logoContainer img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.contentLoginContainer {
  position: relative;
  width: 35rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.moveitContainer {
  padding-bottom: 110px;
}
.welcomeContainer {
  position: relative;
  width: 75%;
}
.welcomeContainer strong {
  font: 600 36px 'Inter';
  line-height: 46px;
}

.githubContainer {
  margin-top: 20px;
  width: 75%;
  display: grid;
  flex-direction: row;
  grid-template-columns: 15% 60% 25%;
  align-items: center;
  height: 15%;
}
.githubContainer img {
  transition: 1s;
}
.githubContainer img:hover {
  filter: brightness(0%);
}

.loginContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginContainer input {
  width: 340px;
  height: 80px;
  outline: none;
  border: none;
  padding: 32px;
  color: var(--grey);
  background: linear-gradient(90deg, #4953b8 0%, rgba(73, 83, 184, 0.2) 100%);
  border-radius: 5px 0px 0px 5px;
}
.loginContainer input::placeholder {
  color: var(--grey);
}

.loginContainer button {
  height: 80px;
  width: 80px;
  background: #4953b8;
  border-radius: 0px 5px 5px 0px;
  border: none;
  outline: none;
  transition: 0.4s;
}
.loginContainer button:focus {
  background: var(--green);
}
.loginContainer button:hover {
  background: #49b861;
}
