.navbarContainer {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, 0.05));
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  height: 100vh;
  top: 0;
  width: 112px;
}
.navbarContainer img {
  position: absolute;
  top: 32px;
}
.menuIcons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  width: 100%;
}

.houseDiv {
  height: 56px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-left: 4px solid rgba(116, 96, 96, 0);
  /* transition: 0.4s; */

  color: #999999;

  cursor: pointer;
  position: relative;
}
.houseDiv:hover {
  color: var(--blue);
}

.houseDiv:hover::before {
  content: '';
  position: absolute;
  left: -4px;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: var(--blue);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.medalDiv {
  height: 56px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #919191;

  border: none;
  border-left: 4px solid rgba(116, 96, 96, 0);

  cursor: pointer;

  position: relative;
}

.medalDiv:hover {
  color: var(--blue);
}

.medalDiv:hover::before {
  content: '';
  position: absolute;
  left: -4px;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: var(--blue);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.navbarContainer .logout {
  position: absolute;
  bottom: 32px;
  color: var(--blue);
  cursor: pointer;
  transition: 0.3s;
}
.navbarContainer .logout:hover {
  color: var(--blue-dark);
}

@media (max-width: 1200px) {
  .navbarContainer {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      169deg,
      rgba(255, 255, 255, 1) 35%,
      rgba(242, 242, 245, 1) 100%
    );
    filter: none;
    height: 70px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menuIcons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 70px;
    width: 20%;
  }
  .navbarContainer .logout {
    right: 15px;
    bottom: 15px;
  }

  .navbarContainer img {
    left: 15px;
    top: 15px;
  }
  .medalDiv:hover::before {
    left: 0;
    top: -10px;
    bottom: 0;
    height: 8px;
    width: 100%;
    background-color: var(--blue);
    border-radius: 0px 0px 10px 10px;
  }
  .houseDiv:hover::before {
    left: 0;
    top: -10px;
    bottom: 0;
    height: 8px;
    width: 100%;
    background-color: var(--blue);
    border-radius: 0px 0px 10px 10px;
  }
}
