.navbarContainer {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, 0.05));
  display: grid;
  grid-template-rows: 10% 80% 10%;
  flex-direction: column;
  align-items: center;
  left: 0;
  height: 100vh;
  top: 0;
  width: 100px;
}

.navbarLogoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconDiv {
  height: 56px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-left: 4px solid rgba(116, 96, 96, 0);

  color: #999999;

  cursor: pointer;
  position: relative;
}

.iconDiv:hover {
  color: var(--blue);
}

.iconDiv:hover::before {
  content: '';
  position: absolute;
  left: -4px;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: var(--blue);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 32px;
  color: var(--blue);
  cursor: pointer;
  transition: 0.3s;
}
.navbarContainer .logout:hover {
  color: var(--blue-dark);
}

@media (max-width: 1200px) {
  .navbarContainer {
    background: var(--white);
    background: linear-gradient(
      169deg,
      rgba(255, 255, 255, 1) 35%,
      rgba(242, 242, 245, 1) 100%
    );
    filter: none;
    height: 70px;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 70% 10%;
    grid-template-rows: none;
    justify-content: center;
    align-items: center;
  }
  .menuIcons {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: center;
    flex-direction: row;
    height: 70px;
    width: 50%;
  }
  .iconDiv:hover::before {
    left: 0;
    top: -10px;
    bottom: 0;
    height: 8px;
    width: 100%;
    background-color: var(--blue);
    border-radius: 0px 0px 10px 10px;
  }
}
